{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Email</label>
                        <input type="email" value="{{ last_username }}" class="form-control mt-1" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputpasswd">Password</label>
                            <input type="password" class="form-control mt-1" id="password" name="password" placeholder="Password">
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col  mt-2">
                            <button class="btn btn-success btn-lg px-3" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
</div>
{% endblock %}
